.loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* full width of container OR page */
  width: 100%;
  height: 100%;

  /* Optional: for full-screen center */
  min-height: 100vh;
}

.loadingIcon {
  font-size: 3rem;
  color: #646cff; /* matches your theme */
}
