
.heading {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 600;
}

/* Post Card */
.postCard {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (prefers-color-scheme: light) {
  .postCard {
    background: #f9f9f9;
    border: 1px solid #ddd;
  }
}

.postTitle {
  font-size: 1.3rem;
  margin: 0;
  font-weight: 600;
}
.author{
    font-size: .8rem;
    font-weight: 300;
    text-decoration: underline;
}
.postBody {
  margin: 0;
  line-height: 1.5;
}

/* Buttons inside post cards */
.buttonRow {
  display: flex;
  gap: 10px;
}
/* Hide function for non owner of post */
.buttonRow.hideFunction{
  display: none;
}
.button {
  background-color: #1a1a1a;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 0.9rem;
  transition: border-color 0.25s;
}
.button.edit{
  color: #646cff;
}
.button.delete{
  color: red;
}

.button.edit:hover {
  border-color: #646cff;
}
.button.delete:hover {
  border-color: red;
}


@media (prefers-color-scheme: light) {
  .button {
    background-color: #f9f9f9;
    color: #213547;
  }
}
